h1 {
  color: #7720da;
  font-weight: bold;
  font-family: Calibri;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 25px;
}


#panel {
  margin: 50px auto auto;
  width: 550px;
  padding: 15px 0 0;
  border: 1px solid silver;
  font: 20px calibri;
  letter-spacing: -1px;
  -webkit-box-shadow: 0 0 2px silver;
  -moz-box-shadow: 0 0 2px silver;
  box-shadow: 0 0 2px silver;
}

button {
  width: 180px;
  height: 60px;
  margin-left: 300px;
  background-color: white;
  color: #7720da;
  border: 2px solid #7720da;
  font-weight: bolder;
  display: block;
  font-size: 20px;
  margin-bottom: 30px;
}
button[disabled]{
  width: 180px;
  height: 60px;
  margin-left: 320px;
  background-color: white;
  color: #7720da;
  border: 2px solid #7720da;
  font-weight: bolder;
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
}
button:hover {
  background-color: #7720da;

  color: white;
  border: #7720da;

}
a{
  color: #7720da;
  font: Bold 22px Calibri;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 25px;
}

register{
  margin-left: 300px;
  background-color: white;
  color: #7720da;
  border: 2px solid #7720da;
  font-weight: bolder;
  display: block;
  font-size: 20px;
  margin-bottom: 30px;
}


label {
  display: block;
  width: 280px;
  margin-left: 25px;
  padding: 10px 5px;
  color: dimgrey;
  text-shadow: 0 0 1px silver;
  font: Bold 20px Calibri;
}

input {
  display: block;
  width: 450px;
  margin: auto auto auto;
  padding: 10px 5px;
  border: 1px solid silver;
  outline: 5px solid #ebebeb;
  font-size: 22px;
}

#account{
  color: dimgrey;
  margin-left: 80px;
  font-weight: bolder;
  margin-top: -70px;

}


#error_email{
  margin-left: 50px;
}

#error_password{
  margin-left: 50px;
}

