<!--<div class="row">-->
<!--  <div class="col-md-6 offset-md-3 mt-5">-->

<!--    <div class="card" id="panel">-->
<!--      <div class="card-body">-->
<!--        <h1>Forgot password?</h1>-->
<!--          <div class="form-group">-->
<!--            <label>Email</label>-->
<!--            <input class="form-control">-->

<!--          </div>-->
<!--          <br>-->
<!--          <button class="btn btn-primary">-->
<!--            SEND-->
<!--          </button>-->
<!--          <button class="btn btn-primary" routerLink="/sign-in" type="button">-->
<!--            LOG IN-->
<!--          </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
reset
