<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Sign In</h3>
      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Username" #userName required>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPassword required>
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>

      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>

      <div class="forgotPassword">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
    </div>

  </div>
</div>



<!--<div class="row">-->
<!--  <div class="col-12">-->
<!--    <app-alerts></app-alerts>-->
<!--  </div>-->
<!--  <div class="col-md-6 offset-md-3 mt-5">-->

<!--    <div class="card" id="panel">-->
<!--      <div class="card-body">-->
<!--        <h1>ShareMeal</h1>-->
<!--        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">-->
<!--          <div class="form-group">-->
<!--            <label for="email">Email</label>-->
<!--            <input type="email" formControlName="email" id=email class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />-->
<!--            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">-->
<!--              <div *ngIf="f.email.errors.required" id="error_email">Email is required</div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="password">Password</label>-->
<!--            <input type="password" formControlName="password" id=password class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />-->
<!--            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">-->
<!--              <div *ngIf="f.password.errors.required" id="error_password">Password is required</div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <a routerLink="/haslo/resetuj" id="reset" class="nav-link" >Forgot password</a>-->
<!--          <a routerLink="/logowanie/google" id="reset1" class="nav-link" >Log in with google</a>-->
<!--          <div>-->
<!--            <button [disabled]="loading" class="btn btn-primary">-->
<!--              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>-->
<!--              LOG IN-->
<!--            </button>-->
<!--            <button class="btn btn-primary" routerLink="/rejestracja" type="button">-->
<!--              REGISTER-->
<!--            </button>-->
<!--            <a class="nav-link" ></a>-->
<!--            <div *ngIf="error" class="alert alert-danger mt-3 mb-0"><p>Błędne dane logowania.</p></div>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

