<div class="col-xs-12">
  <h2>New meal</h2>
  <div class="col-md-6 offset-md-3 mt-5">
    <div id="panel">
<!--      <form #newMealForm="ngForm" (ngSubmit)="onSubmit()">-->
        <div class="form-group">
          <!--          <label for="subject">Temat</label>-->
          <label>Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            [(ngModel)]=newMeal.name
            required
            placeholder="Write a name"
          />
        </div>
        <div class="form-group">
          <label>Pickup hours</label>
          <input
            type="text"
            id="pickHour"
            name="pickHour"
            class="form-control"
            [(ngModel)]=newMeal.pickHour
            required

            placeholder="Write a pickup hour"
          />
        </div>
        <div class="form-group">
          <label>Info</label>
          <textarea
            class="form-control rounded-0"
            rows="3"
            type="email"
            id="date"
            name="date"
            [(ngModel)]=newMeal.data
            required
            placeholder="Enter your address and phone number"
          ></textarea>
        </div>
        <!--      <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">-->
        <button class="btn btn-primary" type="submit" routerLink="/customer/menu" (click)="onSubmit()">
          Add meal
        </button>
<!--      </form>-->
    </div>
  </div>
</div>


<!--<div [hidden]="!submitted" class="col-md-15 offset-md-3 mt-15">-->
<!--  <div class="card" id="panel3">-->
<!--    <div class="card-body" >-->
<!--      <div>-->
<!--        <h4>Rejestracja przebiegła pomyślnie.</h4>-->
<!--        <br>-->
<!--        <button class="btn-primary"  id="new" ><i class="fas fa-plus"></i>  Zaloguj się</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
